@*@model List<Odevler.Models.Blog>*@

@{
    var _context = ViewData["context"] as Odevler.Data.OdevContext;
    List<Blog> bloglar = _context.Blog.ToList();
}


<div>
  @Html.ActionLink("Yazı Ekle", "Ekle", "Blog")
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Başlık</th>
      <th scope="col">Detay</th>
      <th scope="col">Düzenle</th>
      <th scope="col">Sil</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <th scope="row">@item.ID</th>
        <td>@item.Baslik</td>
        <td>@Html.ActionLink("Detay", "Detay", "Blog", new { id = item.ID })</td>
        <td>@Html.ActionLink("Düzenle", "Duzenle", "Blog", new { id = item.ID })</td>
        <td>@Html.ActionLink("Sil", "Sil", "Blog", new { id = item.ID })</td>
      </tr>
    }
  </tbody>
</table>