@model IcerikYonetimSistemi.Models.Icerik

@{
  ViewData["Title"] = "İçerik Detay";
}

<h1>İçerik Detay</h1>
<div>
  <dl class="row">
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Detay)
    </dt>
    <dd class="col-sm-10">
      @Html.Raw(Model.Detay)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Gorsel)
    </dt>
    <dd class="col-sm-10">
      <img src="~/default/images/blog/@Model.Gorsel"/>
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.EklemeTarihi)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.EklemeTarihi)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.DuzenlemeTarihi)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.DuzenlemeTarihi)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Sayfa)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Sayfa.Baslik)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.SEOTitle)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.SEOTitle)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.SEODescription)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.SEODescription)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Baslik)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Baslik)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.EkAlan)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.EkAlan)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Etkin)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Etkin)
    </dd>
  </dl>
</div>
<div>
  <a asp-action="Duzenle" asp-route-id="@Model.ID" class="btn btn-success">Düzenle</a> |
  <a asp-action="Liste" class="btn btn-primary">Listeye Dön</a>
</div>
