@model Odevler.Models.Adres

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Adres</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IlKodu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IlKodu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcikAdres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcikAdres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kisi.Ad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
