@model List<EFCoreGiris.Models.Kitap>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ad</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
    <tr>
      <th scope="row">@item.ID</th>
      <td>@item.Ad</td>
      <td>@item.Tur</td>
      <td>@item.Fiyat</td>
      <td>@item.YazarID</td>
    </tr>
    }
  </tbody>
</table>
</div>