@model IEnumerable<IcerikYonetimSistemi.Models.Etiket>

@{
  ViewData["Title"] = "Etiket Listesi";
}

<h1>Etiket Listesi</h1>

<p>
  <a asp-action="Ekle" class="btn btn-primary">Etiket Ekle</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Baslik)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Baslik)
        </td>
        <td>
          <a asp-action="Duzenle" asp-route-id="@item.ID">Düzenle</a> |
          <a asp-action="Detay" asp-route-id="@item.ID">Detay</a> |
          <a asp-action="Sil" asp-route-id="@item.ID">Sil</a>
        </td>
      </tr>
    }
  </tbody>
</table>
